


main {
    
    color: whitesmoke;
}
myHeader {
    
    color: whitesmoke;
    
}
h1{
    color: whitesmoke;
}
li{
    color: blue;
}
a{
    color:red;
}
Anto{
    text-align:center;
}
poem1{
    text-align:right;
}
